/* .awal {
  display: flex;
  flex-direction: column;
  background-color: #37517e;
  width: 100%;
  font-family: "Jost";
  justify-content: flex;
  color: #ffff;
  padding: 20px;
  height: 450px;
} */

.awal {
  display: flex;
  background-color: #37517e;
  width: 100%;
  font-family: "Jost";
  justify-content: flex-start;
  /* Menggeser konten ke kiri */
  color: #ffff;
  padding: 20px;
  height: 450px;
}

.sip {
  margin: 30px 0;
  gap: 2rem;
}

.sip a {
  width: 100%;
}

.rounded-button {
  background: none;
  color: white;
  border-radius: 40px;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, color;
}

.rounded-button.active {
  background: #279eff;
}

.rounded-button.watch:hover {
  background: #279eff;
}

.rounded-button.watch:hover::before {
  content: "\27A4";
  padding-right: 5px;
  transition: all ease-in-out 0.3s;
}

.rounded-button:hover {
  background-color: darkblue;
}

.rounded-button:hover {
  background-color: darkblue;
}

/* .text-container {
  display: flex;
  flex-direction: column;
  /* Membuat elemen dalam .text-container menata secara vertikal (teks di atas teks) */
/* flex: 1; */
/* Bagian kiri akan memanfaatkan seluruh ruang yang tersisa */


/* .Img {
  width: 300px; */
/* Lebar gambar */



/* .text-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-right: 0px;
  margin-left: 60px;
  margin-bottom: 100px;
} */

h1 {
  font-size: 28px;
}

.we-are {
  font-size: 20px;
}

/* .Img {
  width: 60%;
  margin-top: 10px;
  height: 300px;
} */

.textContainer {
  flex: 1;
  margin-top: 70px;
  /* Bagian kiri akan memanfaatkan seluruh ruang yang tersisa */
}

.imageContainer {
  display: flex;
  align-items: center;
  /* Pusatkan gambar secara vertikal */
}

.Img {
  width: 400px;
}